body {
  font-family: Verdana, sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}

#table {
  padding: 80px 50px;
  border: 4px solid black;
  border-radius: 20px;
  /*background: linear-gradient(#9fe558 0%, #8edb3d 40%, #67c200 100%) no-repeat no-repeat;*/
}

.hand {
  padding: 10px;
  border-radius: 3px;
  /*height: 100px;*/
  background: #5CB85C;
  margin-bottom: 10px;
}

.hand label {
  float: left;
  margin: 0 5px;
}

.card {
  float: left;
  /*background: white;*/
  /*border-radius: 5px;
  border: 1px solid black;*/
  /*width: 120px;
  height: 160px;*/
  /*margin: 0 5px;*/
  padding: 1em;
  font-size: 0.8em;
}

#messages {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 5px;
  height: 2em;
  color:  #5CB85C;
}

.all_buttons {
     margin-right: 1.5em;
}

/*.buttons button:focus {
  outline: none;
}*/

/*.buttons button:active {
  color: white;
  background: linear-gradient(#666, #222);
  border: 1px solid black;
}*/

#dealer-hand,  #player-hand {
     border-radius: 10px;
     height: 13em;
     width: 60em;
     /*padding-left: 1em;*/
}
.newCard {
     width: 8.28em;  /* width = height * 0.69 - required to maintain aspect ratio */
     height:  12em;
}
.text_center {
     text-align: center;
}
#logo {
     width: 40%;
}
.win_lose {
     height: 100px;
     width: 150px;
     margin-top: 2em;
     margin-left: -7.4em;
     border: 0.5em solid #5CB85C;
     border-radius: 5px;
     /*visibility: hidden;*/
}
#winner, #loser {
     visibility: hidden;
}
.show_it {
     visibility: visible;
}
.hide_it {
     visibility: hidden;
}
